body{
    margin: 0px;
    padding: 0px;
}

main{
    margin: 2px 10px 0px 5px;
    height: 500px;
    width: 99%;
    border: 3px solid black;
    background-color:rgba(55, 55, 55, 0.286);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner{
    margin: 14px ;
    height: 40px;
    width: 98%;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
}

#card{
    height:400px ;
    width: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}

img{
    height:220px;
    width: 370px; 
}

#title_bar{
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px;
}

#description{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
}

#price{
    margin: 8px;
}

#offer_price{
    color: green;
    font-size: 16px;
    font-weight: 600;
}

#real_price{
    margin-left: 15px;
    color: rgba(55, 55, 55, 0.6);
    font-size: 16px;
    font-weight: 600;
    text-decoration:line-through;
}

#add_btn{
    height:30px ;
    width: 370px;
    padding-top: 10px;
    background-color: blue;
    color: white;
    text-align: center;
}

button{
    background-color: transparent;
    border: 0px;
    color: wheat;
    cursor: pointer;
}